.bigButton {
  height: 7rem;
  width: 19rem;
  border-radius: 54.5px;
  background-color: var(--beige);
  font-size: 3rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-top: 15rem;
}

.bigButton:hover {
  cursor: pointer;
}

.logoHome {
  width: 10rem;
  margin: 5rem 10rem 0rem 20rem;
}
