.scoreResult {
  margin: calc(var(--text-spacing));
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--beige);
  border-radius: 54.5px;
  font-size: calc(var(--text-spacing) * 1.5);
  color: var(--brown);
  opacity: 1;
  text-decoration: none;
  width: 300px;
  height: 100px;
}

.scoreLiens {
  display: flex;
  flex-direction: row;
}

.scoreLiens a {
  text-decoration: none;
}
